.createGameBtn {
     
     margin-top: 1%;
}

.battleBoard{
    border: 1px solid black;
    border-collapse: collapse;
    width: 350px;
    height: 300px;
    margin-bottom: 10px;
}

.main{
    display: flex;
    flex-wrap: wrap;
}

.instructions{
   width: 55%;
  padding-left: 30px;
}

.boardBorders{
    border: 1px solid black;
}

.boardBorders:first-child{
    padding-left: 15px;
}

.boardBorders:last-child {
    padding-right: 15px;
}

.shipSizes{
    margin:0;
    list-style-type: square;
}

.shipSizes > li{
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .tableShipsBtn{
        width: 100%;
    }

    .battleBoard{
        width: 100%;
    }

    .ship{
        width: 30%;
    }

.instructions{
    width: 100%;
}

.joinGame{
    width: 100%;
}

#resetSelection{
    width: 100%;
}
}