
.battleBoard{
    border: 1px solid black;
    border-collapse: collapse;
    width: 350px;
    height: 300px;
    margin-bottom: 10px;
}
.boardBorders{
    border: 1px solid black;
}

.boardBorders:first-child{
    padding-left: 15px;
}

.boardBorders:last-child {
    padding-right: 15px;
}

.battleArea{
display: flex;
}

.player1Ships{
    margin-right: 50px;
    width: 50%;
}

.player2Ships{
width: 50%;
}

img{
    display: block;
    margin: auto;
}

.roomName{
    margin-bottom: 50px;
}

.alertWindow{
    color: red;
    font-size: 24px;
}

.gameOver{
    width: 24%;
    margin: auto;
    font-size: 24px;
    margin-top: 100px;

}